{{- define "main" }}
<main id="site-main" class="single-page -translate-y-6">
    {{- with .Site.Data.pages.hero_section }}
    {{- if .enable }}
    <section class="hero-section">
        <div class="container w-full max-w-screen-lg mx-auto px-5 lg:px-0">
            <div class="aspect-w-3 aspect-h-4 md:aspect-w-[492] md:aspect-h-[175]">
                <!-- check file existance -->
                {{- if fileExists (add `assets/` (string .image_bg)) }}
                {{- $image_bg:= resources.Get .image_bg }}
                <div
                    class="hero-section__bg w-full h-full bg-cover bg-no-repeat bg-center bg-[url('{{ $image_bg.RelPermalink }}')]">
                    {{ else }}
                    <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/header-bg.jpg')]">
                        {{- end }}
                    </div>
                </div>
            </div>
    </section>
    {{- end }}
    {{- end }}

    <div class="single-content">
        <div class="container w-full max-w-screen-lg mx-auto px-5 pt-10">
            <header>
                <h1 class="text-[1.75rem] lg:text-[2.1875rem] text-black font-normal mb-2">{{ .Title | safeHTML }}</h1>
                <div class="w-[28px] h-[5px] bg-black mb-8"></div>
            </header>
            <div class="about-content text-base lg:text-lg text-justify">
                {{ .Content | safeHTML }}
            </div>

            <div class="grid grid-cols-12 gap-8">
                <div class="col-span-12 lg:col-span-7">
                    <div class="h-[200px] lg:h-[300px]">
                        <h2 class="text-[1.75rem] lg:text-[2.1875rem] text-black font-normal mb-3">RESUME</h2>
                        <p class="text-base lg:text-lg">Resume available on request.</p>
                    </div>
                    <div>
                        <header>
                            <h1 class="text-[1.75rem] lg:text-[2.1875rem] text-black font-normal mb-2">CONTACT ME</h1>
                            <div class="w-[28px] h-[5px] bg-black mb-8"></div>
                        </header>
                        <div class="contact__form-wrapper">
                            <form class="contact__form" action="" method="post">
                                <div>
                                    <div class="mb-2">
                                        <label class="text-sm text-black font-body leading-[1.6] hidden"
                                            for="name">Name*</label>
                                        <input
                                            class="bg-white w-full text-sm text-black font-body leading-none border border-gray-400 px-3 pt-[8px] pb-[10px] placeholder:text-gray-400 focus:placeholder:text-transparent placeholder:font-normal placeholder:text-sm placeholder:leading-none focus:outline-none focus:border-gray-500 focus:ring-transparent focus:ring-0"
                                            type="text" id="name" name="name" placeholder="Name*" required="">
                                    </div>
                                    <div class="mb-2">
                                        <label class="text-sm text-black font-body leading-[1.6] hidden"
                                            for="email">Email
                                            Address*</label>
                                        <input
                                            class="bg-white w-full text-sm text-black font-body leading-none border border-gray-400 px-3 pt-[8px] pb-[10px] placeholder:text-gray-400 focus:placeholder:text-transparent placeholder:font-normal placeholder:text-sm placeholder:leading-none focus:outline-none focus:border-gray-500 focus:ring-transparent focus:ring-0"
                                            type="email" id="email" name="email" placeholder="Email*" required="">
                                    </div>
                                    <div class="mb-2">
                                        <label class="text-sm text-black font-body leading-[1.6] hidden"
                                            for="message">Message</label>
                                        <textarea
                                            class="h-[130px] bg-white w-full text-sm text-black font-body leading-none border border-gray-400 px-3 pt-[8px] pb-[10px] placeholder:text-gray-400 focus:placeholder:text-transparent placeholder:font-normal placeholder:text-sm placeholder:leading-none focus:outline-none focus:border-gray-500 focus:ring-transparent focus:ring-0"
                                            name="message" id="message" placeholder="Message" rows="5"></textarea>
                                    </div>
                                    <div class="flex justify-end">
                                        <button type="submit"
                                            class="bg-black text-center text-white text-sm font-body leading-[1.5] px-6 py-[9px]">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mb-10">
                            {{- with .Params.x_account }}
                            <div>
                                <p class="mb-2">{{ . | safeHTML }}</p>
                            </div>
                            {{- end }}
                            <div class="flex items-center space-x-2">
                                {{- range .Site.Params.footer_socials }}
                                <a class="text-black" href="{{ .url }}" title="{{ .title }}">
                                    {{- with .icon }}
                                    {{ partial (printf "svg/%s.svg" .) (dict "class" "w-[16px] h-auto text-current") }}
                                    {{- end }}
                                </a>
                                {{- end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-5">
                    <div class="border border-solid border-gray-300 rounded-[12px]">
                        <header class="hover:bg-[#439bf01a] p-3 border-b border-solid border-gray-300">
                            <a class="text-xl text-black font-bold"
                                href="https://twitter.com/marcel_venema?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3Amarcel_venema%7Ctwcon%5Es2"
                                target="_blank" rel="">Posts from @marcel_venema</a>
                        </header>
                        <div class="p-8">
                            <div class="mb-[64px]">
                                {{- partial "svg/icon-x-twitter.svg" (dict "class" "w-[36ox] h-[36px] text-current") }}
                            </div>
                            <div>
                                <h3 class="text-[2rem] text-black !font-extrabold leading-[1.25]">Nothing to see here -
                                    yet</h3>
                                <p class="text-gray-500">When they post, their posts will show up here.</p>
                            </div>
                            <div>
                                <a class="w-[156px] h-[52px] inline-flex justify-center items-center rounded-full bg-[#1d9bf0] text-white text-lg font-bold"
                                    href="https://twitter.com/marcel_venema?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3Amarcel_venema%7Ctwcon%5Es2">View
                                    on X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{- end }}