{{- $site := .Site }}
{{- $section := .section }}
{{- with $section }}
{{- if .enable }}
<section class="tools-section">
    <div class="container w-full max-w-screen-lg mx-auto px-5 pt-10">
        {{- with .title }}
        <header>
            <h1 class="text-[2.1875rem] text-black font-normal">{{ . | safeHTML }}</h1>
        </header>
        {{- end }}
        <div class="grid grid-cols-12 gap-6 lg:gap-8">
            <div class="col-span-12 md:col-span-6">
                <div class="lg:w-[80%]">
                    {{- range .tools_left }}
                    <div class="mb-8">
                        {{- with .title }}
                        <header>
                            <h2 class="text-black text-2xl font-normal mb-2">{{ . | safeHTML }}</h2>
                        </header>
                        {{- end }}
                        {{- range .collections }}
                        {{ if .label }}
                        <a href="{{ .url }}">
                            <h3 class="text-base text-black font-bold mb-2">{{ .label }}</h3>
                        </a>
                        {{- end }}
                        {{- with .description }}
                        <p class="text-black leading-[1.25] mb-4">{{ . | safeHTML }}</p>
                        {{- end }}
                        {{- end }}
                    </div>
                    {{- end }}
                </div>
            </div>
            <div class="col-span-12 md:col-span-6">
                <div class="lg:w-[80%]">
                    {{- range .tools_right }}
                    <div class="mb-8">
                        {{- with .title }}
                        <header>
                            <h2 class="text-black text-2xl font-normal mb-2">{{ . | safeHTML }}</h2>
                        </header>
                        {{- end }}
                        {{- range .collections }}
                        {{ if .label }}
                        <a href="{{ .url }}">
                            <h3 class="text-base text-black font-bold mb-2">{{ .label }}</h3>
                        </a>
                        {{- end }}
                        {{- with .description }}
                        <p class="text-black leading-[1.25] mb-4">{{ . | safeHTML }}</p>
                        {{- end }}
                        {{- end }}
                    </div>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}