<footer class="">
    <div class="container w-full max-w-screen-lg mx-auto pt-4 px-5">
        <div class="md:flex">
            <div class="md:w-[40%] mb-8">
                <h3 class="text-[1.375rem] text-black tracking-[0.0772727em]">SUBSCRIBE VIA EMAIL</h3>
            </div>
            <div class="md:w-[60%]">
                <div class="contact__form-wrapper ">
                    <form class="contact__form" action="" method="post">
                        <div>
                            <div class="">
                                <label class="text-sm text-black font-body leading-[1.6] hidden" for="email">Email
                                    Address*</label>
                                <input
                                    class="bg-white w-full text-sm text-black font-body leading-none border border-gray-400 px-3 pt-[8px] pb-[10px] placeholder:text-gray-400 placeholder:font-normal placeholder:text-sm placeholder:leading-none focus:outline-none focus:border-gray-500 focus:ring-transparent focus:ring-0"
                                    type="email" id="email" name="email" placeholder="Email Address" required="">
                            </div>
                            <div class="pt-3">
                                <button type="submit"
                                    class="w-full bg-black text-center text-white text-sm font-body leading-[1.5] px-6 py-[9px]">Subscribe
                                    Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pt-12">
            <div class="w-[28px] h-[5px] bg-black mb-8"></div>
            <div class="flex items-center space-x-2">
                {{- range .Site.Params.footer_socials }}
                <a class="text-black" href="{{ .url }}" title="{{ .title }}">
                    {{- with .icon }}
                    {{ partial (printf "svg/%s.svg" .) (dict "class" "w-[16px] h-auto text-current") }}
                    {{- end }}
                </a>
                {{- end }}
            </div>
        </div>

        <div class="text-center pt-8">
            <p class="text-sm text-gray-400">© 2023 MarcelVenema.com. All rights reserved.</p>
        </div>
    </div>
</footer>