{{- with .Site.Data.home.post_section }}
{{- if .enable }}
<section class="home-post-section">
    <div class="container w-full max-w-screen-lg mx-auto px-5 pt-[60px] pb-[60px]">
        <div class="home-posts__wrapper">
            {{- range where site.RegularPages "Type" "blog" | first 5 }}
            {{ partial "post-card.html" . }}
            {{- end }}
        </div>
        <div class="pt-4">
            <a class="w-[221px] h-[49px] mx-auto bg-black hover:bg-white border-[5px] border-solid border-black flex justify-center items-center text-white hover:text-black transition-colors duration-200 ease-[ease]" href="/blog/">All Posts</a>
        </div>
    </div>
</section>
{{- end }}
{{- end }}