{{- $site := .Site }}
{{- $section := .section }}
{{- with $section }}
{{- if .enable }}
<section class="content-section">
    <div class="container w-full max-w-screen-lg mx-auto px-5 pt-10">
        <div class="aspect-w-3 aspect-h-4 md:aspect-w-21 md:aspect-h-9 mb-10">
            <!-- check file existance -->
            {{- if .image_cover }}
            {{- if fileExists (add `assets/` (string .image_cover)) }}
            {{- $image_bg:= resources.Get .image_cover }}
            <div class="page-cover__bg w-full h-full bg-cover bg-no-repeat bg-center bg-[url('{{ $image_bg.RelPermalink }}')]"
            style="background-image: url('{{ $image_bg.RelPermalink }}')">
            {{- end }}
            {{- else }}
            <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/header-bg.jpg')]">
                {{- end }}
            </div>
        </div>
        <div class="grid grid-cols-12 gap-6">
            {{- range .services }}
            <div class="col-span-12 lg:col-span-4 bg-[#E6E6E6] py-3 px-4">
                {{- with .title }}
                <h3 class="text-[1.375rem] text-[#EE8226]">{{ . }}</h3>
                {{- end }}
                {{- with .content }}
                <div class="page-content__markdownify text-justify">
                    {{ partial "markdownify.html" . }}
                </div>
                {{- end }}
            </div>
            {{- end }}
        </div>
    </div>
</section>
{{- end }}
{{- end }}