{{- $site := .Site }}
{{- $section := .section }}
{{- with $section }}
{{- if .enable }}
<section class="content-section">
    <div class="container w-full max-w-screen-lg mx-auto px-5 pt-10">
        <div class="aspect-w-3 aspect-h-4 md:aspect-w-21 md:aspect-h-9 mb-10">
            <!-- check file existance -->
            {{- if .image_cover }}
            {{- if fileExists (add `assets/` (string .image_cover)) }}
            {{- $image_bg:= resources.Get .image_cover }}
            <div class="page-cover__bg w-full h-full bg-cover bg-no-repeat bg-center bg-[url('{{ $image_bg.RelPermalink }}')]"
                style="background-image: url('{{ $image_bg.RelPermalink }}')">
                {{- end }}
            {{- else }}
            <div class="w-full h-full bg-cover bg-no-repeat bg-center bg-[url('/images/header-bg.jpg')]">
                {{- end }}
            </div>
    </div>
    </div>

    <div class="container w-full max-w-screen-lg mx-auto px-5 ">
        {{- with .title }}
        <header>
            <h1 class="text-[2.1875rem] text-black font-normal">{{ . | safeHTML }}</h1>
        </header>
        {{- end }}
        <div class="grid grid-cols-12 gap-6 lg:gap-8">
            <div class="col-span-12 md:col-span-4">
                <div class="">
                    {{- range .blog_collections_left }}
                    <div class="mb-8">
                        {{ if .label }}
                        <a class="text-black underline" href="{{ .url }}">
                            <h3 class="text-base text-black font-bold underline mb-2">{{ .label }}</h3>
                        </a>
                        {{- end }}
                        {{- with .description }}
                        <p class="text-black leading-[1.25] mb-4">{{ . | safeHTML }}</p>
                        {{- end }}
                    </div>
                    {{- end }}
                </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="">
                    {{- range .blog_collections_center }}
                    <div class="mb-8">
                        {{ if .label }}
                        <a class="text-black underline" href="{{ .url }}">
                            <h3 class="text-base text-black font-bold underline mb-2">{{ .label }}</h3>
                        </a>
                        {{- end }}
                        {{- with .description }}
                        <p class="text-black leading-[1.25] mb-4">{{ . | safeHTML }}</p>
                        {{- end }}
                    </div>
                    {{- end }}
                </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <div class="">
                    {{- range .blog_collections_right }}
                    <div class="mb-8">
                        {{ if .label }}
                        <a class="text-black underline" href="{{ .url }}" target="_blank">
                            <h3 class="text-base text-black font-bold underline mb-2">{{ .label }}</h3>
                        </a>
                        {{- end }}
                        {{- with .description }}
                        <p class="text-black leading-[1.25] mb-4">{{ . | safeHTML }}</p>
                        {{- end }}
                    </div>
                    {{- end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end }}
{{- end }}