{{- with .Site.Data.blog.category_section }}
{{- if .enable }}
<div class="md:hidden mb-8 relative -mt-6">
    <div class="flex justify-between items-center bg-black py-2 px-5">
        <div>
            <a class="text-white" href="/blog/">Post</a>
        </div>
        {{ partial "search-box-search.html" . }}
    </div>
    <div x-data="{ isCategoryOpen: false }" @click.outside="isOpen = false" class="relative group pt-3 pb-2 px-5">
        <div @click="isCategoryOpen = !isCategoryOpen" class="flex justify-between items-center">
            <span>All Posts</span>
            <svg class="svg-inline--fa fa-angle-down fa-w-10 fa-2x w-5 h-5 ml-2" aria-hidden="true" focusable="false"
                data-prefix="far" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
                    class=""></path>
            </svg>
        </div>
        <div x-cloak x-show="isCategoryOpen" class="fixed top-0 left-0 w-full h-screen py-8 z-40">
            <div @click.outside="isCategoryOpen = false"
                class="w-[92%] h-full mx-auto bg-white shadow-lg rounded-lg p-4 overflow-y-auto">
                <ul class="list-none pl-0 pt-3 pb-0">
                    {{- range .categories }}
                    <li class="m-0 border-b border-solid border-gray-300"><a
                            class="text-sm text-black hover:text-primary block py-2 px-4" href="{{ .url }}">{{ .title
                            }}</a>
                    </li>
                    {{- end }}
                    {{- range .dropdown_categories }}
                    <li class="m-0 border-b border-solid border-gray-300"><a
                            class="text-sm text-black hover:text-primary block py-2 px-4" href="{{ .url }}">{{ .title
                            }}</a>
                    </li>
                    {{- end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{- end }}
{{- end }}