{{- with .Site.Data.blog.category_section }}
{{- if .enable }}
<div class="hidden md:flex md:items-center md:space-x-5 lg:space-x-10 mb-8">
    <div class="flex flex-col md:flex-row md:items-center md:space-x-10">
        <ul class="flex items-center space-x-3 md:space-x-5 lg:space-x-10 list-none pl-0 mb-0">
            {{- range .categories }}
            <li class="m-0"><a class="text-black hover:text-primary" href="{{ .url }}">{{ .title }}</a></li>
            {{- end }}
        </ul>
    </div>
    <div class="flex-1 flex items-center justify-between">
        <ul class="list-none pl-0 mb-0">
            <li class="m-0 relative group">
                <div class="flex items-center">
                    <span>More</span>
                    <svg class="svg-inline--fa fa-angle-down fa-w-10 fa-2x w-4 h-4 ml-2" aria-hidden="true"
                        focusable="false" data-prefix="far" data-icon="angle-down" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                        <path fill="currentColor"
                            d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
                            class=""></path>
                    </svg>
                </div>
                <div
                    class="top-full w-[200px] bg-white/95 z-30 absolute invisible group-hover:visible scale-y-0 group-hover:scale-y-100 opacity-0 group-hover:opacity-100 transition-all duration-200 ease-[ease] transform origin-top">
                    <ul class="list-none pl-0 pt-3 pb-0">
                        {{- range .dropdown_categories }}
                        <li class="m-0 border-b border-solid border-gray-300"><a
                                class="text-black hover:text-primary block py-3 px-4" href="{{ .url }}">{{
                                .title
                                }}</a></li>
                        {{- end }}
                    </ul>
                </div>
            </li>
        </ul>
        {{ partial "search-box.html" . }}
    </div>
</div>
{{- end }}
{{- end }}