<div x-data="{ showLink: false }"
    class="flex items-center justify-between mt-12 border-t border-b border-solid border-gray-300 pt-5 pb-5">
    <div class="flex items-center space-x-3 md:space-x-7">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"
            class="text-black hover:text-[#4464a3]">
            {{- partial "svg/icon-facebook.svg" (dict "class" "fill-current text-current") }}
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank"
            class="text-black hover:text-[#55acee]">
            {{- partial "svg/icon-x.svg" (dict "class" "w-[16px] fill-current text-current") }}
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
            target="_blank" class="text-black hover:text-[#55acee]">
            {{- partial "svg/icon-linkedin.svg" (dict "class" "fill-current text-current") }}
        </a>
        <button @click="showLink = !showLink" class="text-black hover:text-primary">
            {{- partial "svg/icon-link.svg" (dict "class" "fill-current text-current") }}
        </button>
    </div>

    {{ partial "post-share-link.html" . }}

    <div>
        {{- if .Params.categories }}
        {{- range first 3 (.GetTerms "categories") }}
        <a class="text-black hover:text-primary" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{- end }}
        {{- end }}
    </div>
</div>