<div class="grid__item border border-solid border-gray-300 mb-[30px]">
    <div class="overflow-hidden">
        {{ partial "image" (dict "Src" .Params.image_cover "Alt" "Slider image"
        "Loading"
        "eager"
        "Class"
        "w-full h-auto"
        "DisplayMD" "420x" ) }}
    </div>
    <div class="p-[30px]">
        <div class="mb-8">
            <div x-data="{ socialOpen: false, showLink: false }"
                class="mb-4 flex justify-between items-center relative">
                {{ partial "post-card-meta.html" . }}
                {{ partial "post-card-share.html" . }}
            </div>
            <div class="relative group">
                <a class="before:absolute before:content-[''] before:top-0 before:left-0 before:w-full before:h-full"
                    href="{{ .RelPermalink }}">
                    <h3
                        class="text-[#101010] group-hover:text-[#d49c59] text-[1.75rem] font-heading font-bold leading-[1.25] mb-2">
                        {{ .Title | safeHTML }}</h3>
                </a>
                {{- with .Params.summary }}
                <p class="text-base lg:text-[1.0625rem] text-[#101010] leading-[1.25] group-hover:text-[#d49c59] mb-0">
                    {{ . }}...</p>
                {{- end }}
            </div>
        </div>
        <div class="border-t border-solid border-gray-300 pt-2">
            <a class="text-black text-xs hover:text-[#d49c59]" href="{{ .RelPermalink }}">Read More</a>
        </div>
    </div>
</div>