<div class="blog-card md:flex border border-solid border-gray-300 mb-8">
    <div class="md:w-2/5 lg:w-1/2">
        <div class="aspect-w-4 aspect-h-3">
            <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
                {{- with .Resources.GetMatch .Params.image_cover }}
                {{- with .Fill "480x360 webp" }}
                <img class="w-full h-auto" loading="lazy" src="{{ .RelPermalink }}" width="{{ .Width }}"
                    height="{{ .Height }}" alt="{{ .Title }}">
                {{- end }}
                {{- end }}
            </div>
        </div>
    </div>
    <div class="md:w-3/5 lg:w-1/2 px-6 lg:px-12 py-6 flex flex-col justify-between">
        <div class="mb-8 lg:mb-0">
            <div x-data="{ socialOpen: false, showLink: false }"
                class="mb-4 flex justify-between items-center relative">
                {{ partial "post-card-meta.html" . }}
                {{ partial "post-card-share.html" . }}
            </div>
            <div class="relative group">
                <a class="before:absolute before:content-[''] before:top-0 before:left-0 before:w-full before:h-full"
                    href="{{ .RelPermalink }}">
                    <h3
                        class="text-[#101010] group-hover:text-[#d49c59] text-[1.25rem] lg:text-[1.75rem] font-heading font-bold leading-[1.25] mb-2">
                        {{ .Title | safeHTML }}</h3>
                </a>
                <p class="text-[#101010] group-hover:text-[#d49c59] leading-normal mb-0">{{ .Summary }}...</p>
            </div>
        </div>
        <div class="border-t border-solid border-gray-300 pt-2">
            <a class="text-black text-xs hover:text-[#d49c59]" href="{{ .RelPermalink }}">Read More</a>
        </div>
    </div>
</div>