{{ $get_index := int (.Get "index") }}
{{ $alt := .Get "alt" }}
{{ range $index, $gallery := .Page.Params.gallery_images }}
{{ if eq $index $get_index }}
{{- if fileExists (add `assets/` (string . )) }}
<div @click="open = true; currentImage = {{ $index }}; $nextTick(() => initSplide())" class="gallery-item">
  {{ $image := resources.Get . }}
  <img class="w-full h-auto" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" {{
    with $alt }}alt="{{ . }}" {{ end }}>
</div>
{{ end }}
{{ end }}
{{ end }}